@import 'colors';

.tube-container {
  width:100%;
  justify-content:center;
  align-items:center;
}

.test-tube{
  height:530px;
  width:155px;
  justify-content:flex-end;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius:50% 85px;
  border-bottom-left-radius:50% 85px;
  background: $blue-tube;
  overflow: hidden;
  padding:5px;
  border:10px solid $blue-border;
  position: relative;

  .heart-row {
    width:100%;
    height:33px;
    justify-content:space-between;
    align-items: center;
    margin:5px 0;


  }
  .heart {
    display: flex;
    flex-direction:column;
    background: $red-heart;
    border-radius:50%;
    overflow: hidden;
    padding: 6px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 2px solid #cb0b47;
  }

  .small {
    height:25px;
    width:25px;
  }

  .medium {
    height:40px;
    width:40px;
  }

  .large {
    height:60px;
    width:60px;
  }
}

/*#circles-holder {
  width:150px;
  height:300px;
  overflow:hidden;
  margin:auto;
  position:relative;
  background:transparent;
  border: 1px solid black;
}

.circle {
  background:#EED;
  border:1px solid blue;
  position:absolute;
  margin:40px
}*/
